# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# Babel and Metro bundler cache
.babelrc
babel.config.js
metro.config.js
.cache/

# Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/.cxx/
android/.settings/

# iOS
ios/Pods/
ios/build/
ios/.DS_Store

# Logs
*.log
*.log.*
*.swp
*.swo

# IDE and OS Files
.DS_Store
.vscode/
.idea/
*.iml

.env
venv

recrd-458001-4ce7854a2790.json